---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer root {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  body {
    font-family: "Merriweather", serif;
  }

  gmp-map {
    height: 100px;
    width: 300px;
  }
}

@layer utilities {
  .text-5-5xl {
    font-size: 56px;
    line-height: 72px;
  }
}
