<title>{{ site.title }}</title>
<meta http-equiv="content-type" content="text/html" charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta
  name="description"
  content="The wedding website of Malayna Hocker and Stephen Meriwether"
/>
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="malaynaandstephen.com - Malayna Hocker and Stephen Meriwether's wedding website"
/>
<meta
  property="og:description"
  content="The wedding website of Malayna Hocker and Stephen Meriwether"
/>
<meta
  property="og:image"
  content="https://malaynaandstephen.com/assets/photo.jpg"
/>
<link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="apple-touch-icon.jpg" sizes="180x180" />
<link rel="stylesheet" href="/css/site.css" />
<style type="text/css">
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: normal;
    font-display: block;
    src:
      url("assets/fonts/Merriweather/Merriweather-Regular.woff2")
        format("woff2"),
      url("assets/fonts/Merriweather/Merriweather-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: bold;
    font-display: block;
    src:
      url("assets/fonts/Merriweather/Merriweather-Bold.woff2") format("woff2"),
      url("assets/fonts/Merriweather/Merriweather-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "BestLight";
    font-style: normal;
    font-weight: normal;
    font-display: block;
    src:
      url("assets/fonts/BestLight/BestLight-Regular.woff2") format("woff2"),
      url("assets/fonts/BestLight/BestLight-Regular.woff") format("woff");
  }
</style>
