<section class="flex flex-col items-center justify-center">
  <div class="w-full md:hidden">
    <ol
      id="mobile-menu"
      class="b-gray-600 hidden w-full border-b pb-2 pt-4 text-center uppercase text-gray-500"
      role="navigation"
      aria-label="Main Navigation"
    >
      {% if page.active == "story" %}
        <li class="mb-3 text-center font-bold text-gray-800">
      {% else %}
        <li class="mb-3 text-center hover:text-gray-800">
      {% endif %}
        <a href="/">Our story</a>
      </li>
      {% if page.active == "details" %}
        <li class="mb-3 text-center font-bold text-gray-800">
      {% else %}
        <li class="mb-3 text-center hover:text-gray-800">
      {% endif %}
        <a href="/details">Details</a>
      </li>
      {% if page.active == "rsvp" %}
        <li class="mb-3 text-center font-bold text-gray-800">
      {% else %}
        <li class="mb-3 text-center hover:text-gray-800">
      {% endif %}
        <a href="/rsvp">RSVP</a>
      </li>
    </ol>

    <div class="b-gray-600 w-full border-b text-center">
      <button
        id="mobile-menu-btn"
        class="w-full py-3 uppercase text-gray-600 hover:text-gray-800"
      >
        Menu
      </button>
    </div>
  </div>

  <header
    class="mb-5 mt-6 flex flex-col items-center text-center md:mb-12 md:mt-5"
  >
    <h1 class="mb-3 text-3xl font-bold sm:text-4xl md:text-5xl">
      Malayna & Stephen
    </h1>
    <div class="flex flex-col md:flex-row" id="wedding-date">
      <span class="text-sm mb-1 md:mb-0 md:mr-2">May 25, 2024</span>
      <span class="text-sm md:mr-2 hidden md:inline">|</span>
      <span class="text-sm" id="days-away"></span>
    </div>
  </header>

  {% assign current = page.url | downcase | split: '/' %}
  <ol
    class="invisible hidden w-full grid-cols-5 grid-rows-1 items-center gap-2 text-sm uppercase md:visible md:grid"
    role="navigation"
    aria-label="Main Navigation"
  >
    <hr />
    {% if page.active == "story" %}
      <li class="text-center underline">
    {% else %}
      <li class="text-center">
    {% endif %}
      <a href="/">Our story</a>
    </li>
    {% if page.active == "details" %}
      <li class="text-center underline">
    {% else %}
      <li class="text-center">
    {% endif %}
      <a href="/details">Details</a>
    </li>
    {% if page.active == "rsvp" %}
      <li class="text-center underline">
    {% else %}
    <li class="text-center">
    {% endif %}
      <a href="/rsvp">RSVP</a>
    </li>
    <hr />
  </ol>
</section>
